@import "../../../Styles/Styles.scss";

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  background: gainsboro;
  &.regular {
  }
  &.error {
  }
}
