@import "../../../src/Styles/Styles.scss";

.home-wrapper {
  // border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 60%;
  max-height: 100%;
  .episodes-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding: 5px;
    // border: 1px solid red;
    max-height: 80%;
    overflow-y: overlay;
    width: 98%;
    gap: 5px;
  }
}
