@import "../../../src/Styles/Styles.scss";

.sign-up-wrapper {
  .categories-wrapper {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
  }
}
